# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atom-jshint': 'atom-jshint:run'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'JSHint'
      'submenu': [
        { 'label': 'Run against file', 'command': 'atom-jshint:run' }
      ]
    ]
  }
]
